/* General Style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hover-opacity:hover {
    opacity: .8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
}

button {
    font-family: inherit;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

.pd-y {
    padding: 60px 0;
}

.section-header {
    text-align: center;
}

.section-header .section-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    margin: 0 auto 70px;
    width: 60px;
    height: 5px;
    background-color: #6195ff;
}

.ltr-effect,
.tb-effect {
    position: relative;
}

.ltr-effect:after,
.tb-effect:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #333;
    transition: .3s ease-in-out;
    z-index: -1;
}

.ltr-effect:after {
    width: 0;
    height: 100%;
}

.tb-effect:after {
    width: 100%;
    height: 0;
}

.ltr-effect:hover:after {
    width: 100%;
}

.tb-effect:hover:after {
    height: 100%;
}


/* Header */

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .4);
}

.header .logo {
    width: 40%;
    float: left;
}

.header .logo img {
    width: 20%;
    margin-top: 12px;
}

.header .nav {
    width: 60%;
    float: left;
    text-align: right;
}

.header .nav>ul {
    list-style: none;
}

.header .nav>li {
    display: inline-block;
    text-align: right;
}

.header .nav>li>a {
    color: #FFF;
    display: block;
    font-size: 15px;
    padding: 23px 10px;
}

.header .nav>li>a.active:after,
.header .nav>li>a:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #6195ff;
    transition: width .5s;
    margin-top: 2px;
}

.header .nav>li>a.active:after {
    width: 100%;
}

.header .nav>li>a:after {
    width: 0;
}

.header .nav>li>a:hover:after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: #6195ff;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 75%;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    color: #FFF;
    display: block;
    padding: 10px;
}

.dropdown .angle-down {
    position: absolute;
    font-size: 15px;
    top: 25px;
    margin-left: 5px;
}


/* Home Section */

.home {
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.home .home-content {
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .title {
    color: #FFF;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home .desc {
    margin: 20px 0;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 1.5;
}

.home .btn {
    min-width: 160px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.home .btn-start {
    margin-right: 10px;
    background-color: #FFF;
}

.home .btn-learn {
    color: #FFF;
    background-color: #6195ff;
}


/* About Section */

.about-item {
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #E8E8E8;
    padding: 50px 20px;
}

.about-item:hover .about-item-title {
    color: #FFF;
}

.about-item.mg {
    margin: 0 5%;
}

.about-item .icon {
    color: #6195ff;
    margin-bottom: 10px;
}

.about-item-title {
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}

.about-item-desc {
    margin-bottom: 10px;
    color: #888;
    line-height: 1.5;
}

.about-item-link {
    color: #6195ff;
}


/* Work Section */

.work {
    background: #EEE;
}

.work-item {
    width: 32%;
    float: left;
    position: relative;
    padding: 20px;
}

.work-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.work-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.layer-content .layer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.layer-content .category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
    transition-delay: .2s;
}

.layer-content .layer-header {
    font-size: 20px;
    color: #FFF;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
    transition-delay: .3s;
}

.layer-content a {
    color: #FFF;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
    transition-delay: .3s;
}

.work-item:hover .layer-content .category,
.work-item:hover .layer-content .layer-header,
.work-item:hover .layer-content a {
    top: 0;
    opacity: 1;
}

.layer-content a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #6195ff;
}

.work-item.mg {
    margin: 0 2%;
}

.work-item img {
    width: 100%;
}


/* Offer Section */

.offer-item {
    position: relative;
    width: 30%;
    float: left;
    margin-bottom: 30px;
    border: 1px solid #E8E8E8;
    padding: 30px 15px 30px 60px;
}

.offer-item.mg {
    margin: 0 5%;
}

.offer-item .icon {
    position: absolute;
    color: #6195ff;
    top: 35px;
    left: 15px;
}

.offer-title {
    margin-bottom: 15px;
    transition: .3s ease-in-out;
}

.offer-item:hover .offer-title {
    color: #FFF;
}

.offer-desc {
    margin-bottom: 15px;
    line-height: 1.5;
    color: #888;
}


/* Service Section */

.service {
    background: #EEE;
}

.service-item {
    width: 50%;
    float: left;
}

.service-item .section-header {
    text-align: left;
}

.service-item .line {
    margin: 0 0 50px;
}

.service-item .service-desc {
    padding-right: 20px;
    color: #777;
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-list {
    list-style: none;
}

.service-list li {
    margin-bottom: 10px;
    color: #999;
}

.service-list li i {
    color: #6195ff;
    padding: 5px;
}

.service-img img {
    width: 100%;
}

.service-bollets {
    list-style: none;
    text-align: center;
}

.service-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #999;
    margin: 10px 5px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.service-bollets li.active {
    background-color: #6195ff;
}

.service-bollets li:hover {
    background-color: #6195ff;
}


/* Number Section */

.numbers {
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-items {
    padding: 100px 0;
}

.number-item {
    width: 25%;
    float: left;
    text-align: center;
}

.number-item .icon {
    color: #6195ff;
    margin-bottom: 15px;
}

.number-item .number-title {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
}

.number-item .number-text {
    color: #FFF;
}


/* Pricing Section */

.pricing-plans .pricing-item {
    width: 30%;
    float: left;
    text-align: center;
    padding: 40px 15px;
    border: 1px solid #E8E8E8;
}

.pricing-item.mg {
    margin: 0 5%;
}

.pricing-item .pricing-text {
    text-transform: uppercase;
    font-size: 15px;
    color: #888;
    transition: .3s ease-in-out;
}

.pricing-item .pricing-permonth {
    width: 130px;
    height: 130px;
    padding: 30px 0;
    margin: 15px auto;
    border: 2px solid #6195ff;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.pricing-item .pricing-permonth .dollar {
    font-size: 40px;
}

.pricing-item .pricing-permonth .month {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.pricing-item .pricing-list {
    list-style: none;
}

.pricing-item .pricing-list li {
    line-height: 1.8;
    color: #888;
}

.pricing-item .pricing-purchase {
    background: none;
    border: 0;
    display: block;
    margin: 15px auto 0;
    padding: 10px;
    color: #6195ff;
    border: 1px solid #6195ff;
    width: 140px;
}

.pricing-item:hover .pricing-text {
    color: #6195ff;
}

.pricing-item:hover .pricing-permonth {
    color: #FFF;
}


/* Testimonial Section */

.testimonial {
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.testimonial-content {
    padding: 120px 0;
    width: 80%;
    margin: auto;
}

.testimonial-item {
    width: 50%;
    float: left;
    color: #FFF;
}

.testimonial-item .toplayer {
    position: relative;
    padding: 10px 2px 40px 100px;
}

.testimonial-item .toplayer img {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.testimonial-item .toplayer .title {
    margin: 5px 0;
}

.testimonial-item .toplayer .details {
    color: #6195ff;
    text-transform: uppercase;
}

.testimonial-item .desc {
    line-height: 1.5;
    font-size: 15px;
}


/* Team Section */

.team-item {
    width: 30%;
    float: left;
    background: #E8E8E8;
    padding: 40px 20px;
    text-align: center;
}

.team-item.mg {
    margin: 0 5%;
}

.team-item .team-img {
    width: 90%;
    margin: auto;
    position: relative;
}

.team-item .team-overlay {
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.team-item .team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background: #6195ff;
    color: #FFF;
    margin-left: auto;
}

.team-item .team-overlay a i {
    line-height: 40px;
}

.team-item .team-img img {
    width: 100%;
}

.team-item .team-info .team-title {
    color: #333;
    margin: 10px 0;
    transition: .3s ease-in-out;
}

.team-item .team-info .team-text {
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s ease-in-out;
}

.team-item:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}

.team-item.tb-effect {
    z-index: 1;
}

.team-item:hover .team-title {
    color: #FFF;
}

.team-item:hover .team-text {
    color: #6195ff;
}


/* Blog Section */

.blog {
    background-color: #F8F8F8;
}

.blog-item {
    width: 30%;
    float: left;
    background-color: #FFF;
}

.blog-item.mg {
    margin: 0 5%;
}

.blog-item .blog-img img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-list {
    list-style: none;
    margin: 10px 0;
}

.blog-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-list li i {
    color: #6195ff;
}

.blog-title {
    font-weight: bold;
    margin: 15px 0;
}

.blog-desc {
    color: #888;
    margin-bottom: 10px;
    line-height: 1.5;
}

.blog-link {
    color: #6195ff;
}


/* Contact Section */

.contact-content {
    margin-bottom: 40px;
}

.contact-item {
    width: 30%;
    float: left;
    text-align: center;
}

.contact-item.mg {
    margin: 0 5%;
}

.contact-item i {
    color: #6195ff;
}

.contact-item .contact-title {
    margin: 10px 0;
}

.contact-item .contact-desc {
    color: #888;
}

.info {
    display: block;
    margin: auto;
}


/* Footer Section */

.footer {
    background-color: #222;
    text-align: center;
}

.footer-links {
    list-style: none;
    margin-bottom: 20px;
}

.footer-links li {
    display: inline-block;
}

.footer-links li a {
    display: block;
    width: 40px;
    height: 40px;
    background: #6195ff;
    color: #FFF;
    margin: 0 5px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.footer-links li i {
    line-height: 40px;
}

.copyright {
    text-transform: uppercase;
    color: #888;
    font-size: 15px;
}

.color {
    color: #6195ff;
}